.main {
  text-align: center;
  padding-left: 30%;
}

.mainLoggedout {
  text-align: center;
}

mat-grid-tile {
  background: lightblue;
  flex-wrap: wrap;
}

mat-grid-list {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}
