<div class="main" *ngIf="!tokenService.loggedIn">
  <br />
  <!-- test component for home page -->
  <h1 style="margin-top: 5%">
    Please <a href="/login">log in</a> or <a href="/register">register</a>
  </h1>
</div>

<div class="main" *ngIf="tokenService.loggedIn">
  <br />
  <!-- Display tiles [ Total Organization, Total Departments, Total Employees ] under that user.
Chart with x axis time and y axis organization, department & employees count when added. Chart will have two option 1M, 1Y selection.
1M: How many organization, department and employees added in selected month
1Y: How many organization, department and employees added in selected Year -->
  <div class="graph" id="organisation" style="height: 370px; width: 80%"></div>
  <div class="graph" id="department" style="height: 370px; width: 80%"></div>
  <div class="graph" id="employee" style="height: 370px; width: 80%"></div>
</div>
